<div class="login-container" fxLayout fxLayoutAlign="center">
<!-- fxLayout="row" fxLayoutAlign="center start" fxFill fxLayout.xs="column"
    fxLayoutAlign.xs="start center"> -->
    <mat-card>

        <mat-tab-group mat-stretch-tabs color="accent">

            <!-- Login Form tab -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">login</mat-icon>
                    Sign in
                </ng-template>

                <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">

                    <mat-card-content fxLayout="column">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter your username</mat-label>
                            <input matInput name="username" [(ngModel)]="loginModel.username" required>
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter your password</mat-label>
                            <input matInput name="password" [(ngModel)]="loginModel.password" required
                                [type]="hidePass ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" type="button"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">
                            Sign in
                        </button>
                        <button mat-raised-button color="warn" type="reset">Clear</button>
                    </mat-card-actions>

                </form>

            </mat-tab>

            <!-- Registration form tab -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">person_add</mat-icon>
                    Create user
                </ng-template>

                <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">

                    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error>{{getErrors("username")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password" required>
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error>{{getErrors("password")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" type="password" required>
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error>{{getErrors("confirmPassword")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required>
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>{{getErrors("firstName")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>{{getErrors("lastName")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent" appUtcDate>
                            <mat-label>Date of birth</mat-label>
                            <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="picker" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                            <mat-error>{{getErrors("dateOfBirth")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            <mat-error>{{getErrors("email")}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phoneNumber">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error>{{getErrors("phoneNumber")}}</mat-error>
                        </mat-form-field>
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">
                            Register
                        </button>
                        <button mat-raised-button color="warn" type="reset">Clear</button>
                    </mat-card-actions>

                </form>

            </mat-tab>

        </mat-tab-group>

    </mat-card>
</div>